<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<body>
 {% include header.html %}
 <main class="main">
 <div class="products">
 {{ content }}
 </div>
 </main>
</body>
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.js"></script>
<div id="snipcart" data-api-key="MWNmMDkyNWItN2U4Mi00YTg3LWE4NzgtOGVkMjAxNjE0OTRkNjM4MTM3MzIwOTc3NjE2MTY3" hidden></div>
</html>
